<a href="https://colab.research.google.com/github/natnew/Mini-Python-Projects/blob/main/Python_Lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iterating With Python Lambda

In [1]:
# Iterating With Python Lambdas
  
# list of numbers
l1 = [4, 2, 13, 21, 5]
  
l2 = []
  
# run for loop to iterate over list
for i in l1:
      
    # lambda function to make square 
    # of number
    temp=lambda i:i**2
  
    # save in list2
    l2.append(temp(i))
  
# print list
print(l2)

[16, 4, 169, 441, 25]

In [2]:
# Iterating With Python Lambdas
  
# list of numbers
l1 = [4, 2, 13, 21, 5]
  
# list of square of numbers
# lambda function is used to iterate 
# over list l1
l2 = list(map(lambda v: v ** 2, l1))
  
# print list
print(l2)

[16, 4, 169, 441, 25]

In [3]:
# Iterating With Python Lambdas
  
# list of numbers
l1 = [4, 2, 13, 21, 5]
  
# list of square of odd numbers
# lambda function is used to iterate over list l1
# filter is used to find odd numbers
l2 = list(map(lambda v: v ** 2, filter(lambda u: u % 2, l1)))
  
# print list
print(l2)

[169, 441, 25]

# Lambda function to find the smaller value between two elements

In [4]:
# lambda function to return minimum of
# two elements a, b are the arguments and
# min() method is the expression here.
get_min = lambda a, b : min(a,b)
  
print(get_min(5, 8))

5

In [5]:
# lambda function to return minimum of two elements
# a, b are the arguments and ternary
# operator is used to compare two elements
get_min = lambda a, b : a if a < b else b
  
print(get_min(5, 8))

5

In [6]:
# Two lambda functions will be stored
# in tuple such that 1st element is b
# and 2nd element will be b.
# if [a<b] is true it return 1 and
# element with index 1 will print
# else if [a<b] is false it return 0,
# so element with index 0 will print
a = 5
b = 8
print((lambda: b, lambda: a)[a < b]())

5

# Find fibonacci series upto n using lambda

In [7]:
from functools import reduce
  
fib = lambda n: reduce(lambda x, _: x+[x[-1]+x[-2]],
                                 range(n-2), [0, 1])
  
print(fib(5))

[0, 1, 1, 2, 3]

In [8]:
def fibonacci(count):
    fib_list = [0, 1]
  
    any(map(lambda _: fib_list.append(sum(fib_list[-2:])),
                                         range(2, count)))
  
    return fib_list[:count]
  
print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# Count Even and Odd numbers in a List

In [9]:
# Python program to count Even
# and Odd numbers in a List
  
# list of numbers
list1 = [10, 21, 4, 45, 66, 93, 1]
  
even_count, odd_count = 0, 0
  
# iterating each number in list
for num in list1:
      
    # checking condition
    if num % 2 == 0:
        even_count += 1
  
    else:
        odd_count += 1
          
print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

In [10]:
# Python program to count Even and Odd numbers in a List
  
# list of numbers
list1 = [10, 21, 4, 45, 66, 93, 11]
  
even_count, odd_count = 0, 0
num = 0
  
# using while loop     
while(num < len(list1)):
      
    # checking condition
    if list1[num] % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
      
    # increment num 
    num += 1
      
print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

In [11]:
# list of numbers
list1 = [10, 21, 4, 45, 66, 93, 11]
  
odd_count = len(list(filter(lambda x: (x%2 != 0) , list1)))
  
# we can also do len(list1) - odd_count
even_count = len(list(filter(lambda x: (x%2 == 0) , list1)))
  
print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

# Difference between List comprehension and Lambda

In [12]:
lst  =  [x ** 2  for x in range (1, 11)   if  x % 2 == 1]
print(lst)

[1, 9, 25, 49, 81]

In [13]:
lst = list(map(lambda x: x**2, range(1, 5)))
print(lst)

[1, 4, 9, 16]